<!DOCTYPE html>
<html>
<head>
  <title>Laundry</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Dropdown Structure -->
<nav class="navbar-inner">  
    
    <a href="/" id="brand-logo">The Laundry Service</a>
    <img src="/assets/laundry_icon.jpg" id = "icon" width= 50px height= 70px >
    <ul class="right">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/stores" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Orders
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/orders"> Order List</a>
          <a class="dropdown-item" href="/orders/new">New Order</a>
          <a class="dropdown-item" href= "/active"> Active Store List</a>
          <a class="dropdown-item" href="/inactive">Inactive Store List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/employees" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tasks
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/tasks"> Tasks List</a>
          <a class="dropdown-item" href="/tasks/new">New Task</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/employees" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href= "/clients"> Clients List</a>
          <a class="dropdown-item" href="/clients/new">Add New Client</a>
        </div>
      </li>
    </ul>

</nav>

    <div class="center">
      <!-- MAIN CONTENT GOES HERE -->
      <%= yield %> 
    </div>


  </div>
  <footer>

    
  </footer> 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<%= javascript_include_tag "application" %>
<% flash.each do |message_type, message| %>
  <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
<% end %>
</html>
